@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define global color variables */
:root {
  --primary-color: #87CEEB; /* Sky Blue */
  --primary-text-color: #87CEEB;
  --primary-color-rgb: 135, 206, 235; /* same color as RGB */
  --secondary-color: #5fa8d3; /* Darker shade for hover */
  --text-dark: #333333; /* For contrast */
  --text-light: #ffffff; /* For dark backgrounds */
}

/* Apply global font and color */
body {
  font-family: 'Figtree', sans-serif;
  color: var(--text-dark); /* Default text color */
}

/* Global text color class */
.text-primary {
  color: var(--primary-text-color) !important;
}

/* Apply to specific elements globally */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text-color);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
