<div class="container">
  <div
    *ngFor="let line of lines; let i = index"
    class="line"
    [class.highlight-line]="line.highlight"
    [style.left]="line.position">
  </div>

  <div class="text-container">
    <div class="text-section text-left">
      <div class="overflow">
        <h3 class="portfolio-heading">WER</h3>
      </div>
    </div>

    <div class="text-section text-center wir-highlighted">
      <div class="overflow">
        <h3 class="portfolio-heading highlight-text">WIR</h3>
      </div>
    </div>

    <div class="text-section text-right">
      <div class="overflow">
        <h3 class="portfolio-heading">SIND</h3>
      </div>
    </div>
  </div>
</div>
